<div id="maindiv">
	<div id="top">
		<h1 id="title">Michail Chatzipanagiotou</h1>
		<h2 id="subtitle">Junior programmer, WebDev</h2>
	</div>
	<div id="content">
		<section id="social">
			<p style="text-align: center; color: rgb(139, 147, 235);
			text-shadow: 1px 1px 10px rgb(117, 125, 141); margin-bottom: 10px;">Hello world, my name is Michael.
			I like all things grey, RPGs, good music, long walks and solving problems.<br>Below are all my first steps in the world of coding/webDev.</p>
			<div id="icons">
				<button mat-icon-button id="linkedin" style="color: rgba(53, 53, 215, 0.99);" (click)="lnClick()"
						matTooltip="jump to linkedin profile"
						matTooltipPosition="right">
					<mat-icon svgIcon="linkedin"></mat-icon>
				</button>

				<button mat-icon-button id="cv"
						(click)="downloadCV()"
						matTooltip="download resume"
						matTooltipPosition="left">
					<mat-icon svgIcon="cv"></mat-icon>
				</button>

				<button mat-icon-button id="github" style="color: white;" (click)="ghClick('')"
						matTooltip="jump to GitHub"
						matTooltipPosition="left">
					<mat-icon svgIcon="github"></mat-icon>
				</button>
			</div>
		</section>
		<p class="inText">Some key projects</p>
		<section class="bot">

			<mat-card class="projects">
				<mat-card-header style="margin-left: -20px; margin-bottom: 15px;">
					<mat-card-title>Transcendence</mat-card-title>
					<mat-card-subtitle style="margin-left: 1px;">a full stack project</mat-card-subtitle>
				</mat-card-header>
				<div style="display: flex; justify-content: center;">
					<img mat-card-image class="A" src="../assets/images/pong.png" style="width: 200px; height: 112.5px;">
				</div>
				<mat-card-content style="text-align: justify; margin-bottom: 20px;">
				  <p>
					The classic Pong game, multiplayer.
					Compete against your friends and climb the leaderboard.
					With a fully functional chat.
				  </p>
				</mat-card-content>
				<mat-card-actions style="display: flex; justify-content: center;">
					<button mat-button class="trnscButton" style="color: rgb(137, 136, 136); background-color: rgba(0, 0, 0, 0.9);" (click)="ghClick('/ft_transcendence')">
						View on GitHub
					</button>
				</mat-card-actions>
			  </mat-card>

			  <mat-card class="projects">
				<mat-card-header style="margin-left: -20px; margin-bottom: 15px;">
					<mat-card-title>Portfolio</mat-card-title>
					<mat-card-subtitle style="margin-left: 1px;">this page's source code, done with Angular</mat-card-subtitle>
				</mat-card-header>
				<div style="display: flex; justify-content: center;">
					<img mat-card-image class="B" src="../assets/images/portfolio.png" style="width: 200px; height: 112.5px;">
				</div>
				<mat-card-content style="text-align: justify; margin-bottom: 20px;">
				  <p>
					Minimal design, blue-grey scale, trve cvlt vibes, and ofc, no photo. Pic used is from older mock-up.
				  </p>
				</mat-card-content>
				<mat-card-actions style="display: flex; justify-content: center;">
					<button mat-button class="trnscButton" style="color: rgb(137, 136, 136); background-color: rgba(0, 0, 0, 0.9);" (click)="ghClick('/personal-portfolio')">
						View on GitHub
					</button>
				</mat-card-actions>
			  </mat-card>

			  <mat-card class="projects">
				<mat-card-header style="margin-left: -20px; margin-bottom: 15px;">
					<mat-card-title>Containers</mat-card-title>
					<mat-card-subtitle style="margin-left: 1px;">Recreating the C++ STL containers</mat-card-subtitle>
				</mat-card-header>
				<div style="display: flex; justify-content: center;">
					<img mat-card-image class="C" src="../assets/images/vector.png" style="width: 200px; height: 112.5px;">
				</div>
				<mat-card-content style="text-align: justify; margin-bottom: 17px;">
				  <p>
					A remake of vector, map and stack, complete with their iterators and fully compatible with the STL.
					Done in a C++98 fashion.
				  </p>
				</mat-card-content>
				<mat-card-actions style="display: flex; justify-content: center;">
					<button mat-button class="trnscButton" style="color: rgb(137, 136, 136); background-color: rgba(0, 0, 0, 0.9);" (click)="ghClick('/ft_containers')">
						View on GitHub
					</button>
				</mat-card-actions>
			  </mat-card>
		</section>

		<section class="bot">
			<mat-card class="projects">
				<mat-card-header style="margin-left: -20px; margin-bottom: 15px;">
					<mat-card-title>Cub3d</mat-card-title>
					<mat-card-subtitle style="margin-left: 1px;">A raycaster in the vein of Wolfenstein3d</mat-card-subtitle>
				</mat-card-header>
				<div style="display: flex; justify-content: center;">
					<img mat-card-image class="A" src="../assets/images/cub.png" style="width: 200px; height: 112.5px;">
				</div>
				<mat-card-content style="text-align: justify; margin-bottom: 20px;">
				  <p>
					Navigate a 3d maze built from a given map file in this introduction to raycasting.
					Image taken from cclaude42's GitHub.
				  </p>
				</mat-card-content>
				<mat-card-actions style="display: flex; justify-content: center;">
					<button mat-button class="trnscButton" style="color: rgb(137, 136, 136); background-color: rgba(0, 0, 0, 0.9);" (click)="ghClick('/cub3d')">
						View on GitHub
					</button>
				</mat-card-actions>
			  </mat-card>

			  <mat-card class="projects">
				<mat-card-header style="margin-left: -20px; margin-bottom: 15px;">
					<mat-card-title>Minishell</mat-card-title>
					<mat-card-subtitle style="margin-left: 1px;">A program mimicking bash.</mat-card-subtitle>
				</mat-card-header>
				<div style="display: flex; justify-content: center;">
					<img mat-card-image class="B" src="../assets/images/bash.png" style="width: 200px; height: 112.5px;">
				</div>
				<mat-card-content style="text-align: justify; margin-bottom: 0px;">
				  <p>
					looks like bash, it feels like bash. Execute any command and pipe, with five of them built in and the rest pulled straight from your system's /bin folder.
				  </p>
				</mat-card-content>
				<mat-card-actions style="display: flex; justify-content: center;">
					<button mat-button class="trnscButton" style="color: rgb(137, 136, 136); background-color: rgba(0, 0, 0, 0.9);" (click)="ghClick('/Minishell')">
						View on GitHub
					</button>
				</mat-card-actions>
			  </mat-card>

			  <mat-card class="projects">
				<mat-card-header style="margin-left: -20px; margin-bottom: 15px;">
					<mat-card-title>Minitalk</mat-card-title>
					<mat-card-subtitle style="margin-left: 1px;">Using UNIX signals to transmit data.</mat-card-subtitle>
				</mat-card-header>
				<div style="display: flex; justify-content: center;">
					<img mat-card-image class="C" src="../assets/images/signals.png" style="width: 200px; height: 112.5px;">
				</div>
				<mat-card-content style="text-align: justify; margin-bottom: 17px;">
				  <p>
					Two programs, one Client and one Server, send/receive a string of characters with the use of Signals. Effective, yet slow.
				  </p>
				</mat-card-content>
				<mat-card-actions style="display: flex; justify-content: center;">
					<button mat-button class="trnscButton" style="color: rgb(137, 136, 136); background-color: rgba(0, 0, 0, 0.9);" (click)="ghClick('/minitalk')">
						View on GitHub
					</button>
				</mat-card-actions>
			  </mat-card>
		</section>
	</div>
</div>


		
