<div class="page">
	<div class="wrapper" data-Aos="zoom-in"  data-Aos-duration="900" data-Aos-easing="ease-in-out" data-Aos-once="true">
		<div class="text" >
			<h1 data-Aos="fade-down-left" data-Aos-delay="500" data-Aos-duration="1200" data-Aos-once="true">This is a webDev portfolio landing page to get your attention!</h1>
			<h2 data-Aos="fade-up-left" data-Aos-delay="500" data-Aos-duration="1200" data-Aos-once="true">Hello world, my name is Michael and I am a webDev.<br>
				I like all things grey, RPGs, good music, long walks and solving problems.<br>For samples of my work so far, scroll below.</h2>
		</div>
		<div class="img" >
			<img style="width: 100%; height:auto;"
				 data-Aos="zoom-in-right"
				 data-Aos-duration="1200"
				 data-Aos-easing="ease-in-out"
				 data-Aos-delay="300"
				 data-Aos-once="true"
				 src="../../assets/images/laptop.jpg">

			<p style="text-align: left;"
				data-Aos="slide-right"
				data-Aos-duration="1200"
				data-Aos-easing="ease-in-out"
				data-Aos-once="true"
				data-Aos-delay="550"> 
					Random image of a PC with code to keep you interested
			</p>
		</div>
	</div>
</div>
