/* You can add global styles to this file, and also import other style files */
html {
	margin:0px;
	height:100%;
	width:100%;
	background:url('./assets/images/bg.jpg')no-repeat center center fixed; 
	-webkit-background-size:cover;
	-o-background-size:cover;
	-moz-background-size:cover;
	background-size:cover;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-button:hover {
	color: rgb(189, 187, 187)!important;
}

.mat-tooltip {
	color: black!important;
	background-color: rgba(133, 129, 129, 0.7);
}
